.header {
  height: 200px;
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.titulo {
  height: 26px;
  display: flex;
  flex-direction: row;
}
.titulo p {
  height: 100%;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--blue );
  margin-left: 0.75rem;
}

.titulo p + p{
  color: var(--purple-dark);
  margin: 0;  
}